annotated-types==0.7.0
antlr4-python3-runtime==4.11.1
appnope==0.1.4
asttokens==3.0.0
backoff==2.2.1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
comm==0.2.2
contourpy==1.3.1
cycler==0.12.1
debugpy==1.8.13
decorator==5.2.1
deepdiff==6.7.1
Deprecated==1.2.18
executing==2.2.0
fonttools==4.56.0
future==1.0.0
googleapis-common-protos==1.69.1
ia-questionary==1.10.0
idna==3.10
inflect==7.5.0
ipykernel==6.29.5
ipython==9.0.2
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
joblib==1.4.2
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver==1.4.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
more-itertools==10.6.0
nest-asyncio==1.6.0
numpy==1.26.4
opentelemetry-api==1.16.0
opentelemetry-exporter-otlp-proto-http==1.16.0
opentelemetry-proto==1.16.0
opentelemetry-sdk==1.16.0
opentelemetry-semantic-conventions==0.37b0
ordered-set==4.1.0
packaging==24.2
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.6
prompt-toolkit==3.0.36
protobuf==4.25.6
psutil==7.0.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
py4j==0.10.9.7
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
PyHive==0.7.0
PyJWT==2.10.1
pyparsing==3.2.1
pyspark==3.5.5
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
PyYAML==6.0.2
pyzmq==26.2.1
requests==2.32.3
rich==13.9.4
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.12
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
segment-analytics-python==2.3.4
shellingham==1.5.4
six==1.17.0
soda==1.9.2
soda-core==3.5.0
soda-core-spark==3.5.0
soda-core-spark-df==3.5.0
soda-postgres==1.9.2
soda-spark==1.9.2
soda-spark-df==1.9.2
soda_freshness==0.1.1
sqlparse==0.5.3
stack-data==0.6.3
threadpoolctl==3.5.0
thrift==0.21.0
tornado==6.4.2
traitlets==5.14.3
typeguard==4.4.2
typer==0.15.2
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
wcwidth==0.2.13
wrapt==1.17.2
